@import "./reset.css";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --container-width: 1270px;
    --container-padding: 15px;
    --secondary:#rgba(15,31,28,0.5);
    --orange: #FF7C4E;
    
}

body {
    font-family: 'Poppins', sans-serif;
    background-color:  #f6f6f6;
    color: #0f1f1c;
}
.none {
    display: none !important;
}

.container {
    max-width: var(--container-width);
    padding: 0 var(--container-padding);
    margin: 0 auto;
}

.container-right {
    padding-left: calc((100% - var(--container-width)) / 2 + var(--container-padding));
}

/* header */

.header {
    position: relative;
    min-height: 940px;
    background: linear-gradient(0deg, #204434, #204434), linear-gradient(132.05deg, #428E5F -17.38%, #112120 78.4%);
    padding-top: 44px;
    color: #ffffff;
}

.header a {
    color: #ffffff;
}

.header::after {
    content:  "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 96px;

    background-image: url("./../img/header/header_bottom.svg");
    background-size: 100%;
    overflow: hidden;
}

.header_top {
    margin-bottom: 86px;
}

.header_row {
display: flex;
}

.header_content {
    position: relative;
    z-index: 1;
    max-width: 592px;
}

.header_img {
position: relative;
flex-grow: 1;
}

.header_img img {
    position: absolute;
    top:-181px;
    right: -87px;
    max-width: unset;
    width: 894px;
    height: 940px;
}
/* Nav */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 80px;
}

.nav_list {
    display: flex;
    column-gap: 80px;
    font-size: 15px;
    font-weight: 500;
}

.nav_list a {
    position: relative;
    text-decoration: none;
}

.nav_list a.active::after,
.nav_list a:hover::after  {
    content: "";
    
    position: absolute;

    left: 0;
    right: 10px;
    bottom: -6px;
    
    display: block;
    /* width: 35px; */
    height: 4px;
    background-color: #c4c4c4;
    border-radius: 50px;
}

.nav_list.nav_list--footer a.active::after,
.nav_list.nav_list--footer a:hover::after {
    display: none;
}

.nav_list.nav_list--footer a.active,
.nav_list.nav_list--footer a:hover {
    color: var(--orange);
}

.nav_login {
    display: flex;
    align-items: center;
    column-gap: 25px;
    font-size: 15px;
    font-weight: 500;
}

/* Logo */

.logo {
    font-size: 20px;
    color: #ffffff;
    font-weight: 700;
}

.logo a {
    color: inherit !important;
}

.logo-footer {
    color: var(--orange);
}

/* Button */

.btn {
    display: inline-block;
    padding: 13px 44px;

    font-style: 15px;
    font-weight: 500;
    color: #FFFFFF;

    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%), linear-gradient(0deg, #FFFFFF, #FFFFFF);
    border-radius: 100px;
}

.btn:hover {
    color: #ffd94e;
    transition: color 0.2s ease-in;
}

.btn::after {
    position: relative;
    top: 1px;
}

/* header_content */

.header_badge {
    margin-bottom: 7px;
    display: inline-block;
    padding: 11px 30px;
    font-size: 18px;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 15px;
}

.header_title {
    margin-bottom: 30px;
    font-size: 55px;
}

.header_text {
    margin-bottom: 68px;
    font-size: 25px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
}

.header_btn {
    display: inline-block;
    padding: 27px 48px;

    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
    border-radius: 27px;

    font-size: 25px;
    font-weight: 600;
}

.header_btn:hover {
    color: #ffd94e;
    transition: color 0.2s ease-in;
}

.header_btn::after {
    position: relative;
    top: 1px;
}

/* Destiinations */

.destinations {
    padding: 96px 0 100px;
    overflow-x: hidden;
}

.destinations_row {
    display: flex;
    column-gap: 50px;
}

.destinations_content {
    max-width: 456px;

}

.destinations_slider {
    width: 1110px;
    flex-shrink: 0;

}

.destinations_title {
    margin-bottom: 15px;
font-size: 55px;
font-weight: 600;
}

.destinations_title span {
    font-size: 30px;
}

.destinations_text {
    margin-bottom: 60px;
    font-size: 25px;
    font-weight: 500;
    color: var(--secondary);
}

.btn {
    display: inline-block;
    padding: 25px 45px;

    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
    border-radius: 27px;

    font-size: 20px;
    font-weight: 600;
}

.btn:hover {
    color: #ffd94e;
    transition: color 0.2s ease-in;
}

.btn::after {
    position: relative;
    top: 1px;
}

/* Slider */

.slider {
    overflow: hidden;
    position: relative;
    height: 456px;
}

.slider_item {
    margin-top: 27px;
    width: 335px;
    height: 412px;
    object-fit: cover;
    border-radius: 35px;
    transition: 0.2s ease-in;
}

.slider .center .slider_item {
    margin-top: 0;
    width: 380px;
    height: 456px;
}

.owl-stage {
    display: flex;
}

.slider_btn {
    width: 68px;
    height: 68px;
    border-radius: 50%;

    display: flex;

    align-items: center;

    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
}

.slider_btn--prev {
    left: -27px;
    padding-left: 26px;
    justify-content: flex-start;
    position: absolute;
    top: 33%;
    transform: translateY(50%);
    z-index: 9;
} 
.slider_btn--next {
    padding-right: 26px;
    justify-content: flex-end;
    position: absolute;
    right: -27px;
    top: 33%;
    transform: translateY(50%);
    z-index: 9;
} 
.owl-nav {
    display: none;
}

.destinations_slider {
    position: relative;
}

.customers {
    padding: 100px 0 133px;
}
.customers_row {
    display: flex;
    column-gap: 68px;
}

.customers_img {
    max-width: 478px;
}

.customers_img img {
    border-radius: 60px;
}

.customers_content {

}

.customers_title {
    margin-bottom: 35px;
    font-size: 45px;
    font-weight: 500;
    max-width: 565px;
}

/* review */
.review {
    max-width: 491px;
}

.review_client {
    display: flex;
     margin-bottom: 60px;
    column-gap: 33px;
    align-items: center;
}
.review_client_avatar {
    overflow: hidden;
    width: 134px;
    height: 134px;
    border-radius: 50%;
    background-color: #FF794E;
}

.review_text {
    margin-bottom: 30px;
    color:var(--secondary);
    font-size: 22px;
    font-weight: 500;
}

.review_client_desk-name {
    margin-bottom: 10px;
    font-size: 33px;
    font-weight: 500;
}

.review_client_desk-country {
    font-size: 25px;
    color: var(--secondary);
}

.cta {
    padding: 100px 0;
}

.cta_plate {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 580px;
    padding: 40px 15px;
    background-color: #fff;
    border-radius: 60px;
}

.cta_plate::before,
.cta_plate::after {
    position: absolute;
    width: 63px;
    height: 83px;
    content: "";
}
.cta_plate::before {
    left: 74px;
    bottom: 56px;
    background-image: url("./../img/cta/cta-el-02.svg");
}
.cta_plate::after {
    top: 74px;
    right: 80px;
    background-image: url("./../img/cta/cta-el-01.svg");
}

.cta_title {
   font-size: 45px;
   font-weight: 500;
   margin-bottom: 30px;
   text-align: center;
}

.cta_text {
    margin-bottom: 60px;
    font-size: 30px;
    color: var(--secondary);
}

/* Subscribe */
.subscribe {
    padding: 35px 50px;

}

.subscribe_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.subscribe_title {
    margin-bottom: 60px;
    min-width: 494px;
    font-size: 55px;
    font-weight: 600;
}

.subscribe-form {
    padding: 12px 15px 12px 46px;
    border-radius: 35px;
    background-color: #FFFFFF;
    display: flex;
    column-gap: 20px;
}

.subscribe-form_input {
    font-size: 24px;
    font-weight: 500;
    color: var(--secondary);
}

.subscribe-form_input:placeholder {
    color: var(--secondary);
}

.subscribe-form_btn {
    display: inline-block;
    padding: 34px 86px;

    font-size: 25px;
    font-weight: 600;
    color: #FFFFFF;

    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%), linear-gradient(0deg, #FFFFFF, #FFFFFF);
    border-radius: 35px;
}

.subscribe-form_btn:hover {
    color: #ffd94e;
    transition: color 0.2s ease-in;
}

.subscribe-form_btn::after {
    position: relative;
    top: 1px;
}

/* footer */

.footer {
    padding: 56px 0 74px;
    
}

.nav_list--footer a {
    color: var(--secondary);
}